@font-face {
    font-family: 'MPLUSRounded1c';
    src: url('./MPLUSRounded1c-Regular.ttf') format('truetype');
}

body {
    display: grid;
    grid-template-columns: 1fr 500px 1fr; /* Example: middle column set to 500px */
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #FFFFFF;
    color: black;
    font-family: 'MPLUSRounded1c', Arial, sans-serif;
    overflow: hidden;
    position: relative; /* Ensure that fixed positioning is relative to this if needed */
}

#intro-page, #card-flip {
    grid-column: 2; /* Ensure they are placed in the middle column */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* This will take the full width of the grid column */
}

.header button {
    text-align: center;
}

#intro-page h1 {
    text-align: center;
    margin-bottom: 20px;
}

#intro-page video {
    width: 100%;  /* Adjusts video to take the full width of the container */
    height: auto;
    border-radius: 10px;
}

#continue-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F5;
    color: #0E2332;
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: normal;
    padding: 24px;
    text-align: center;
    text-transform: none;
    border: none;  /* Remove border */
    outline: none; /* Remove outline */
    margin: 10px auto; /* Centering the button horizontally */
    margin-top: 200px;
}

#continue-button:hover {
    background-color: #E6E9EA;
}

#go-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3F4F5;
    color: #0E2332;
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: normal;
    padding: 10px;
    text-align: center;
    text-transform: none;
    border: none;  /* Remove border */
    outline: none; /* Remove outline */
    margin-bottom: 5px;;
    margin-top: 10px;
}

.card-container {
    width: 100%;  /* Ensures the card container fills the space */
    height: 700px;  /* Adjusts height as needed */
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: auto; /* Makes content scrollable */
    padding: 20px;
}

.card-front {
    background: #CB3B1A; /* Light front background */
    color: white; /* Dark text for readability */
    padding: 20px; /* Ensure padding is the same on both sides */
    text-align: center; /* Consistent text alignment */
}

.card-back {
    background: white; /* Dark back background */
    color: black; /* Light text for contrast */
    transform: rotateY(180deg);
    padding: 20px; /* Ensure padding is the same on both sides */
    text-align: left; /* Consistent text alignment */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-back ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Resets padding to remove indentation */
    text-align: left; /* Ensures text aligns to the left */
}

.card-back ol {
    text-align: left; /* Ensures text aligns to the left */
}

.card-back h2 {
    text-align: center; /* Specifically ensure center alignment for h2 */
    width: 100%; /* Ensures the h2 element takes full width */
    padding-bottom: 10px;
}


.menu-containers {
    display: flex; /* Establishes this container as a flex container */
    justify-content: space-between; /* Places space between the flex items */
    align-items: center; /* Aligns items vertically at the center */
}


#menu-button,
#popular-button {
    font-size: 20px;             /* Large size for easy readability and clickability */
    margin-bottom: 10px;
    cursor: pointer;             /* Indicates that the element is clickable */
    border: none;                /* No border for a cleaner look */
    border-radius: 10px;         /* Rounded corners for a modern appearance */
    background-color: #F3F4F5;
    color: #0E2332;
    padding: 10px 20px;          /* Top and bottom padding of 10px, left and right padding of 20px */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    font-family: 'MPLUSRounded1c';
}

#menu-button:hover,
#popular-button:hover {
    background-color: #E6E9EA;
}

.recipe-menu {
    display: none; /* Initially hidden */
    width: calc(100% - 40px); /* Adjust width as necessary */
    max-width: 360px; /* Maximum width to maintain design consistency */
    height: 300px; /* Or 'max-height' depending on your design preference */
    position: absolute;
    background-color: white; /* Background color for visibility */
    border-radius: 10px; /* Rounded bottom corners for aesthetics */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Adds depth */
    z-index: 101; /* Ensures it's above other content */
    overflow-y: auto; /* Allows vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    padding: 10px 20px; /* Padding for aesthetics, adjust as needed */
    font-family: 'MPLUSRounded1c';
}

.recipe-menu button,
.popular-menu button {
    width: 100%; /* Full width to align text */
    text-align: left; /* Aligns text to the left */
    padding: 8px 10px; /* Padding for better touch interaction */
    margin: 2px 0; /* Spacing between buttons */
    background-color: #f8f8f8; /* Slightly off-white background for buttons */
    border: none; /* No border for a cleaner look */
    border-radius: 5px; /* Slightly rounded corners for buttons */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    cursor: pointer; /* Cursor to indicate button functionality */
}

.recipe-menu button:hover,
.popular-menu button:hover {
    background-color: #f5f5f5;
}
@media only screen and (max-width: 500px) {
    body {
        grid-template-columns: 20px 300px 20px; /* Allow the middle content to be more flexible */
        margin: 20px 5px 20px 5px;
    }

    #intro-page, #card-flip {
        grid-column: 2; /* Center column for the content */
    }

    .card-container {
        max-width: 500px;
        max-height: 500px;
        overflow: auto; /* Enable scrolling inside the card if necessary */
    }

    .menu-containers {
        flex-direction: column;
        width: 100%; /* Full width for better control */
        align-items: center; /* Center alignment for child elements */
    }

    #menu-button, #popular-button {
        width: 100%; /* Full width to fill parent container */
        margin-bottom: 10px; /* Provide space between buttons */
    }

    .card-front, .card-back {
        padding: 10px; /* Reduce padding to fit smaller screens */
        text-align: center; /* Ensure text is centered */
    }
}
